asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.5
cryptography==46.0.5
Django==4.2.27
django-allauth==65.14.3
gunicorn==23.0.0
idna==3.11
packaging==26.0
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.9.0
requests==2.32.4
sqlparse==0.5.5
typing_extensions==4.13.2
urllib3==2.2.3
whitenoise==6.7.0
