<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CIO Rating System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Saira+Stencil:ital,wdth,wght@0,50..125,100..900;1,50..125,100..900&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="navLinks">
            <ul>
            <li><a href="#"><img src="{% static 'logo.png' %}" alt="logo" class="navLogo"></a></li>
            <li><a href="/">Explore</a></li>
            </ul>
    </div>
    {% if user.is_authenticated %}
        <div class="navLinks">
            <ul>
            {% if user.profile.role == "user_admin" %}
                <!-- ONLY user admin sees this -->
                <li><a href="{% url 'manage_users' %}">Manage Users</a></li>

            {% else %}
                <!-- Normal users -->
                <li><a href="/view-all-reviews/">View Ratings</a></li>
                <li><a href="/view-all-cios/">View CIOs</a></li>

                {% if user.email|slice:"-13:" == "@virginia.edu" %}
                    <li><a href="{% url 'messages_inbox' %}">Messages</a></li>
                    <li><a href="/create-cio/">Create CIO</a></li>
                    <li><a href="/create-review/">Create Review</a></li>
            {%  endif %}

        {%  endif %}
            </ul>
        </div>

            <!-- TODO# add manage email function if needed -->
            <!-- <a href="{% url 'account_email' %}">Manage Email</a> -->
            <div  class="navLinks">
                <ul>
                    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li><a href="#" id="logout-link" class="nav-link">Logout</a></li>
                    <li><a href="/profile/">
                        <img src="{{ user.profile.profile_picture.url }}" alt="profilePicture" class="navPic">
                    </a></li>
                </ul>
            </div>
    {% else %}

        <div  class="navLinks">
            <ul>
                <li><a href="{% url 'account_login' %}" >Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            </ul>
        </div>
    {% endif %}

</nav>
<div class="main-container">
    <!-- makes logout a post request -->
    {% if user.is_authenticated %}
    <form id="logout-form" class="hidden" method="post" action="{% url 'account_logout' %}" style="display: none;">
        {% csrf_token %}
    </form>
    {% endif %}

    {% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/app.js' %}"></script>


</body>
</html>