<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CIO Rating System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
    {% if user.is_authenticated %}
        {% if user.email|slice:"-13:" == "@virginia.edu" %}
            <div class="nav-left">
            <ul class="navLinks">
                <li><a href="{% url 'messages_inbox' %}">Messages</a></li>
                <li><a href="/create-cio/">Create CIO</a></li>
                <li><a href="/create-review/">Create Review</a></li>
            </ul>
            </div>
    {%  endif %}

        <!-- TODO# add manage email function if needed -->
        <!-- <a href="{% url 'account_email' %}">Manage Email</a> -->


        <ul class="navLinks">
            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
            <li><a href="#" id="logout-link" class="nav-link">Logout</a></li>
            <li><a href="/profile/">Profile</a></li>
        </ul>
    {% else %}
        <ul class="navLinks">
            <div class="nav-left" >
                <a href="#">logo</a>
                <a href="/">Explore</a>
                <a href="/view-all-reviews/">View Ratings</a>
            </div>
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        </ul>
    {% endif %}

</nav>

<!-- makes logout a post request -->
{% if user.is_authenticated %}
<form id="logout-form" class="hidden" method="post" action="{% url 'account_logout' %}" style="display: none;">
    {% csrf_token %}
</form>
{% endif %}

{% if messages %}
<div class="messages">
    <ul>
        {% for message in messages %}
        <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}
{% endblock %}

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>