{% extends "base.html" %}

{% block content %}
    <h1>Create a Review</h1>
    <div class="form-box">
        <form  action="" method= "post">
            {% csrf_token %}
            {% for f in form %}

                {{ f.label_tag }}
                {{ f }}
                {%  if f.errors %}
                    <ul class ="alert">
                        {% for error in f.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <div class="center-text">
                <button type="submit">Submit Review</button>
            </div>
        </form>
    </div>
{% endblock %}