{% extends "base.html" %}

{% block content %}

<h2>Create a CIO</h2>

<div class="form-box">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>CIO Name:</label>
        {{ form.name }}

        <label>Description:</label>
        {{ form.description }}
        <label>Cio's Logo:</label>
        {{ form.cio_profile_picture }}

        <div class="center-text">
            <button type="submit">Create CIO</button>
        </div>
        
    </form>
</div>

{% endblock %}