{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="form-box">


    <h2>Personal Information</h2>

    <div class="profile-info">
         <div class="row">
                <div class="profilePicContainer">
                    <img id ="picPreview" class="profilePic" src="{{ profile.profile_picture.url }}" alt="profile pic">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="hidden-fileUpload">
                            {{ form.profile_picture }}
                        </div>

                        {% if form.profile_picture.errors %}
                            <div class="error">{{ form.profile_picture.errors }}</div>
                        {% endif %}

                        <button type="button" id ="editBtn" class="editButton" onclick="openFileExplorer()">Edit Profile Picture</button>
                        <div id ="actionBtns" class="actionButton" style="display: none">
                            <button type="button" id = "cancelBtn" class="cancelButton" onclick="cancelUploadOperation()">Cancel</button>
                            <button type="submit" id = "saveBtn" class="saveButton" onclick="savePicture()">Save</button>
                        </div>
                    </form>
                </div>
        </div>

        <div class="row">
            <span class="label">Name:</span>
            <span class="value">{{ user.username }}</span>
        </div>

        <div class="row">
            <span class="label">Email:</span>
            <span class="value">{{ user.email }}</span>
        </div>

        <div class="row">
            <span class="label">Role:</span>
            <span class="value">{{ profile.get_role_display }}</span>
        </div>

        <div class="row">
            <span class="label">CIO Leadership:</span>
            <span class="value">

                {% if profile.role == "guest" %}
                    Not a verified UVA student

                {% else %}
                    {% with leaderships=profile.leaderships.all %}
                        {% if leaderships %}
                            <ul>
                                {% for leadership in leaderships %}
                                    <li>{{ leadership.cio.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Not currently a leader of any CIO
                        {% endif %}
                    {% endwith %}
                {% endif %}

            </span>
        </div>
    </div>


</div>

<div class="form-box center-text">
    <h2>Account Management</h2>
    <a href="{% url 'account_change_password' %}" class="main-btn">Change Password</a>
</div>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
