{% extends "base.html" %}

{% block title %}
Upload File
{% endblock %}

{% block content %}
<div class="form-box">

    <h1>Upload File</h1>

    <p class="center-text">Upload a file for {{ cio.name }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-field">
            {{ form.as_p }}
        </div>

        <div class="center-text">
            <button type="submit" class="main-btn">
                Upload
            </button>
        </div>
    </form>

    <div class="center-text">
        <a href="/" class="main-btn">Back to home</a>
    </div>

</div>
{% endblock %}