{% extends "base.html" %}
{% block content %}
    <h1>View All Reviews</h1>
    <div id="searchContainer">
        <input type="text" id="mySearch" onkeyup="search()" placeholder="Search..." title="Type in a cio">
    </div>
    <div class="reviewContainer">
    {%  if reviews %}
        {% for r in reviews %}
            <div class="review-block review-item">
                <h3 class="cio.name">{{ r.cio.name }}</h3>
                <p>Created by: {{ r.profile.user.email }}</p>
                <p>Comment: {{ r.comment }}</p>
            </div>
        {% endfor %}
    {%  else %}
        <p>No reviews yet!</p>
    {% endif %}
    </div>
{%  endblock %}