{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="form-box">
    <h2>Change Password</h2>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
        </div>
        {% endfor %}

        <div class="center-text">
            <button type="submit">Update Password</button>
        </div>
    </form>
</div>
{% endblock %}
